<section class="skill top60">
  <h1 class="title">skills</h1>
  <div class="skill-wrapper">
    <!-- skills 1 -->
    <div class="skill-item">
      <h2 class="second-title shadow">habilidades</h2>
      <p>PHP</p>
      <div class="container">
        <div class="skills php">60%</div>
      </div>
      <p>PHP</p>
      <div class="container">
        <div class="skills php">60%</div>
      </div>
      <p>PHP</p>
      <div class="container">
        <div class="skills php">60%</div>
      </div>
      <p>PHP</p>
      <div class="container">
        <div class="skills php">60%</div>
      </div>
    </div>
    <!-- skills 2 -->
    <div class="skill-item">
        <h2 class="second-title shadow">software</h2>
        <p>PHP</p>
        <div class="container">
          <div class="skills php">60%</div>
        </div>
        <p>PHP</p>
        <div class="container">
          <div class="skills php">60%</div>
        </div>
        <p>PHP</p>
        <div class="container">
          <div class="skills php">60%</div>
        </div>
        <p>PHP</p>
        <div class="container">
          <div class="skills php">60%</div>
        </div>
      </div>
  </div>
</section>