<section class="about">
  <div class="profile-wrapper">
    <img class="profile-img shadow" width="300" src="http://rstill.bitballoon.com/images/me.jpg" alt="">
    <div class="download top30">
      <button class="btn-cv ">
        <i class="fa fa-download fa-lg"></i> Descargar CV </button>
    </div>
    <p class="text center top30">
      <i class="fa fa-check"></i> Disponible para Freelance</p>
  </div>
  <div class="info-wrapper">
    <h1 class="subtitle">Hola soy
      <span>Jorge!</span>
    </h1>
    <p class="text">animador & modelador</p>
    <p class="text top30">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat nesciunt perspiciatis similique eveniet ex est officiis
      aliquid veritatis quas distinctio, voluptates rerum excepturi dicta? Quidem tempore quibusdam expedita at beatae.
    </p>
    <div class="info top30">
      <div class="info-item">
        <p class="text info-text">Edad
          <span>24</span>
        </p>
        <p class="text info-text">Dirección
          <span>Calle de las x</span>
        </p>
        <p class="text info-text">Email
          <span>champurrado@gmail.com</span>
        </p>
      </div>
      <div class="info-item">
        <p class="text info-text">Teléfono
          <span>33 3333 3333</span>
        </p>
        <p class="text info-text">Nacionalidad
          <span>Méxicana</span>
        </p>
        <p class="text info-text">web
          <span>champurrado@gmail.com</span>
        </p>
      </div>

    </div>
    <div class="social top30">
      <p class="text">Social Links:</p>
      <div class="social-wrapper top30">
        <a href="www.facebook.com" target="_blank" class="social-item fa fa-facebook-f fa-lg tooltip"> <span class="tooltiptext">Facebook</span></a>
        <a href="www.facebook.com" target="_blank" class="social-item fa fa-twitter fa-lg tooltip"><span class="tooltiptext">Twitter</span></a>
        <a href="www.facebook.com" target="_blank" class="social-item fa fa-linkedin fa-lg tooltip"><span class="tooltiptext">Linkedin</span></a>
      </div>
    </div>
  </div>
</section>